<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - watchTV watches letv</title>
    <link rel="shortcut icon" href="static/images/favicon.ico">
    {% block head %}
    <script src="static/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    {% endblock %}
</head>
<body {% if single %}class="single"{% endif %}>
    <div id="content"></div>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Roboto:400,300,500:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'static/js/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
        (function() {
            window.createSingleAutocompleteObject = function(url, dataMapper, minLength) {
                if(!minLength) minLength = 3;
                return {
                    source: function(req, res) {
                        var input = req.term;
                        if(input.length < minLength) {
                            res([]);
                            return;
                        }
                        $.ajax({
                            url: url + input,
                            dataType: 'json',
                            success: function(data) {
                                var results = data;
                                if(dataMapper && typeof dataMapper === 'function') {
                                    results = dataMapper(data);
                                }
                                res(results);
                            },
                            error: function(_) {
                                res([])
                            }
                        })
                    }
                }
            };
            window.createMultiAutocompleteObject = function(url, dataMapper, minLength) {
                if(!minLength) minLength = 2;
                return {
                    source: function(req, res) {
                        var term = req.term.split(' ').pop();
                        if(term.length < minLength) {
                            res([]);
                            return;
                        }
                        $.ajax({
                            url: url + term,
                            dataType: 'json',
                            success: function(data) {
                                var results = data;
                                if(dataMapper && typeof dataMapper === 'function') {
                                    results = dataMapper(data);
                                }
                                res(results);
                            },
                            error: function(_) {
                                res([])
                            }
                        })
                    },
                    focus: function (event, ui) {
                        event.preventDefault();
                    },
                    select: function(event, ui) {
                        event.preventDefault();
                        var terms = this.value.split(' ');
                        terms.pop(); // Remove current input
                        terms.push(ui.item.value);
                        terms.push('');
                        this.value = terms.join(' ');
                    }
                }
            };
        })();
    </script>
    {% block jsFile %}{% endblock %}
</body>
</html>