<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - watchTV watches letv</title>
    <link rel="shortcut icon" href="static/images/favicon.ico">
    {% block head %}
    <script src="static/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    {% endblock %}
</head>
<body {% if single %}class="single"{% endif %}>
    <div id="content"></div>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Roboto:400,300,500:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'static/js/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
        $(function(){
            setTimeout(function(){
                $(".fa-nav").parent().off().click(function(){
                    window.location.href = $(this).find(".fa-nav").attr("data-url");
                });
            },1000);
        })
    </script>
    {% block jsFile %}{% endblock %}
</body>
</html>