<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
<link type="text/css" href="static/css/style.css" rel="stylesheet" />
<link rel="shortcut icon" href="static/images/favicon.ico">
<script src="static/js/jquery-2.1.4.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script type="text/javascript">
$(function(){
    $("#userSubmit").bind('click',submitForm);
    document.onkeydown=function(event){ 
        var e = event ? event :(window.event ? window.event : null);
        if(e.keyCode==13){
            submitForm();
        } 
    };
    function submitForm(){
        $("#loginErr_msg").text("");
        var errInfo = "";
        var name = $("#user").val();
        var pwd = $("#pwd").val();
        var captcha = grecaptcha.getResponse();
        if (captcha == "") {
            errInfo = "Prove you're not a robot!";
        }
        if(name==""){
            errInfo = "Please enter your username";
        }else if(pwd==""){
            errInfo = "Please enter your password";
        }
        if(errInfo != ""){
            $("#loginErr_msg").text(errInfo);
            return;
        }
        $.ajax({
            url:'/login',
            type:'post',
            data:{
                user:name,
                password:pwd,
                captcha:captcha
            },
            success:function(){
                window.location.href="/index.html";
            },
            error:function(data){
                $("#loginErr_msg").text(data.responseText);
            }
        });
    }
});
</script>
</head>
<body class="login_body">
    <div class ="login_div" id="login_div"></div>
    <div class="login_form">
        <div class="logo">WatchTV</div>
        <form id="loginForm">
            <div class = "login_info">
                <input type="text" id="user" name="userName" class="login_input" placeholder="User"/>
            </div>
            <div class = "login_info">
                <input type="password" id="pwd" name="password" class="login_input" placeholder="Password"/>
            </div>
            <div class="g-recaptcha login_info" data-sitekey="6LdhISkTAAAAAHFS6rNSofZRr9_7bw3oTcF-VtXN"></div>
            <div id="loginErr_msg" class="errorMessage"></div>
            <div class = "login_btn">
                <span class="submit" id="userSubmit">LOG IN</span>
            </div>
        </form>
    </div>
</body>
</html>