/*global & base*/
html, body {width: 100%;height: 100%;font: 12px "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif, monospace;-webkit-font-smoothing: antialiased;}
input:-webkit-autofill {-webkit-box-shadow: 0 100px #fff inset;-webkit-text-fill-color: #000;border-bottom: 3px solid #0089cc;}
input:not(.titleInput)::-webkit-input-placeholder{color:#000 !important;font-size: 16px;font-weight: 700;}
input:not(.titleInput)::-moz-placeholder{color:#000 !important;font-size: 16px;font-weight: 700;}
input:not(.titleInput)::-ms-input-placeholder{color:#000 !important;font-size: 16px;font-weight: 700;}
input.titleInput::-webkit-input-placeholder{color:#fff !important;}
input.titleInput::-moz-placeholder{color:#fff !important;}
input.titleInput::-ms-input-placeholder{color:#fff !important;}
th, td {padding-left: 20px!important;}
li{list-style: none;}
::-webkit-scrollbar {width: 6px;height: 6px;background-color: rgba(190, 190, 190, 0.77);-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.73);-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.clear{clear: both;}
.loading{background: rgba(255,255,255,.5) url('../images/loading.gif') no-repeat center;position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 1;display: none;}
.dashboard,.single{overflow: auto!important;overflow-x: hidden!important;padding: 0 10px;background-color: #fff;}
/*fa style*/
.fa{font-size: 18px;width: 18px;height: 18px;color: #444;margin: 10px;cursor: pointer;}
.fa-nav{font-size: inherit;margin: 0;}
.fa-nav::before{margin-right: 10px;}
.fa-transform{-webkit-transform: translateY(3px);-ms-transform: translateY(3px);-otransform: translateY(3px);-moz-transform: translateY(3px);transform: translateY(3px);}
.fa-bg{font-size: 14px;color: #fff;background-color: #444;border-radius: 3px;text-align: center;padding-top: 2px;}
.fa-bg.active{background-color: #019875;}
.fa-white{color: #fff;font-size: 24px;margin: 8px;}
.fa-cir{font-size: 14px;width: 20px;height: 20px;color: #fff;background-color: #444;border-radius: 50%;text-align: center;padding-top: 2px;}
.fa-ellipsis-v:after {content:'';position:absolute;top:-20px; bottom:-20px;left:-20px; right:-20px;}
.dropDownDiv h3 + div,.scrollDialog h3 + div,.configList{overflow: initial!important;}
/*navBar*/
.head {position: fixed;top: 0;left: 0;width: 100%;z-index: 111;}
.afterNav{height: 75px;}
.navBar a{background-color: #fff!important;}
.navBar a:hover{background-color: rgba(0, 0, 0, .035)!important;}
/*content*/
.searchForm > div + i {top: -13px;position: relative;margin: 0;}
.searchForm > div:first-child {bottom: 16px;}
.searchForm > div:nth-of-type(2) {position: relative;top: -15px;left: 10px;margin-right: 10px}
.searchForm > div:nth-of-type(3) {position: relative;top: -13px;left: 10px;margin-right: 10px}
.table {padding: 0 15px;}
.table thead tr th:last-child{min-width: 190px;}
.table th,.table td{vertical-align: middle!important;}
.scrollDialog {width: 85%!important;max-width: 800px!important;max-height: 80%;}
.scrollDialog select {margin: 10px 0;height: 30px;padding-left: 2px;border: none;border-bottom: 1px solid #E0E0E0;font-family: Roboto, sans-serif;color: #494949;}
/*content - dashboard*/
.dashboard .scrollDialog select ,.single .scrollDialog select {display: block;}
.single .scrollDialog h3 + div{height: 218px;}
.single .delDialog + div h3 + div{height: 0;}
.dropDownMenu{margin-left: -24px;z-index: 111;}
.dropDownMenu svg + div{margin-top: -10px!important;}
.ipList,.configList,.metricList,.metricEditList{width: 30%;max-width:270px;margin-right: 3%;margin-top: 20px;float: left;position:relative;border: 1px solid #E0E0E0;padding: 10px 5px 10px 10px;border-radius: 3px;height: 170px;overflow: auto;overflow-x: hidden;}
.ipList > div ,.configList > div {line-height: 40px;width: 100%!important;height: 40px!important;display: block!important;margin: 5px 0;margin-left: -10px;}
.configList > div > div:first-child + div{max-height: 250px;overflow-y: auto!important;}
.ipList > div label,.configList > div label{color: #4A4A4A;font-weight: 400;}
.configList .addMetricBtn{position: absolute!important;right: 0;top: 0;}
.single .timeList{display:none!important;}
.timeList svg:not(:root) {fill: #000!important;width: 20px!important;}
.timeList > div:last-child{max-height: 300%;overflow-y: scroll!important;overflow-x: hidden;}
.flot-overlay {cursor: crosshair;}
.graphList > div ,.singleDefault > div{width:50%;float:left;}
.graphList .singleDefault{width: 100%;}
.graphList .graph{margin:5px 10px;background-color: #1f1f1f;color: #fff;padding: 010px;position: relative;min-height: 250px;}
.btnParent > div .delBtn{display: block;position: absolute!important;right: 10px;top: 20px;}
.delDialog + div{padding-top: 0px!important;}
.btnParent,.shareBtnParent, .importBtnParent{width: 6px;overflow: hidden;position: absolute;left: 0;top: 25%;height: 38px;}
.shareBtnParent{top: initial;bottom: 25%;}
.btnParent:hover, .shareBtnParent:hover, .importBtnParent:hover{width:37px;}
.graphBtn, .importGraphBtn{width:37px;height:38px;background: #77B300;background-size: 25px;position: fixed;left: -31px;cursor: pointer;}
.graphBtn{top: 40%;}
.importGraphBtn{top: 60%;}
.graphBtn:hover, .importGraphBtn:hover{left: 0px;}
.graphList > div .graphBtn{position: static;background: #77B300;}
.graphList > div .graphBtn .fa{font-size: 20px;margin:10px;}
.singleDefault .graphBtn{display: none;}
.graph .importBtnParent{display: none}
.nodeInfo{line-height: 30px;text-align: center;font-size: 16px;}
.nodeInfo span{margin-right: 10px;}
.dashboardPanel {list-style: none; padding: 0; margin: 0 0 10px 0; overflow: hidden;
    font-size: 16px; line-height: 20px}
.dashboardPanel .fa-white {font-size: 16px; margin: 0;}
.dashboardPanel li {display: inline-block;float: left;margin: 10px 10px 0 10px;
    background-color: #77B300;  min-width: 30px;}
.dashboardPanel a {color: white; display: block; text-decoration: none; padding: 3px;
    text-align: center}
.dashboardPanel a:hover, .dashboardPanel a:focus {background-color: deepskyblue;}
.dashboardPanel input {display: none; outline: none;}
.focusedPanel {background-color: cornflowerblue;}
/*btn animation*/
.graphBtn,.btnParent,.shareBtnParent,.importBtnParent,.importGraphBtn{-webkit-animation: moveLeft 0.4s ease-in-out 1s backwards;-moz-animation: moveLeft 0.4s ease-in-out 1s backwards;-o-animation: moveLeft 0.4s ease-in-out 1s backwards;-ms-animation: moveLeft 0.4s ease-in-out 1s backwards;animation: moveLeft 0.4s ease-in-out 1s backwards;}
@-webkit-keyframes moveLeft{0% {left:0;width:37px;}100% {left:-31px;width:6px;}}
@-moz-keyframes moveLeft{0% {left:0;width:37px;}100% {left:-31px;width:6px;}}
@-o-keyframes moveLeft{0% {left:0;width:37px;}100% {left:-31px;width:6px;}}
@-ms-keyframes moveLeft{0% {left:0;width:37px;}100% {left:-31px;width:6px;}}
@keyframes moveLeft{0% {left:0;width:37px;}100% {left:-31px;width:6px;}}
.configInfo {float: left;position: relative;z-index: 2;color: #505050;border: 1px solid #E0E0E0;padding: 10px;border-radius: 3px;width: 230px;height: 105px;max-height: 105px;margin-top: -6px;overflow: auto;overflow-x: hidden;}
.single .configInfo {margin-top: 10px;min-height: 150px;}
.configInfo .metricInfo {display: block;position: relative;height: 40px;line-height: 40px;border-bottom: 1px solid #e0e0e0;max-width: 90%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.configInfo .metricInfo button{display: none;width:21px;height:21px;background: #DADADC url('../images/delete.png') no-repeat 2px 3px;background-size: 14px;border: none;position: absolute;right: 0;top: 10px;border-radius: 50%;}
.delBtn + div{position: absolute!important;z-index: 120!important}
.delBtn + div div:last-child{left:-200%!important;}
.moveBtn {position: absolute!important;top: 20px;right: 100px;}
.titleInput{background-color: #1F1F1F;border: none;display: block;width: 100%;font-size:14px;text-align: center;padding: 10px 0;}
.titleInput:focus{background-color: #fff;outline: none;color: #000;}
.tool{min-width: 180px;font-size: 14px;}
.legend {position: absolute;bottom: -35px;height: 44px;overflow: auto;}
.legend > div{display: none;}
.legend table{position: static!important;height: 44px;overflow: auto;}
.legend tr {float: left;margin-right: 20px;cursor: pointer;}
tr.disabled {opacity: .5;}
.legendColorBox > div{border:none!important;}
.legendColorBox > div >div {width: 10px!important;height: 2px!important;border-width: 1px!important;}
.legendLabel{color: #fff;font-size: 12px;}
.pieLabel{background-color: rgba(10,10,10,.8); border-radius: 2px; opacity: 0.3; transition: opacity 0.5s ease-in-out}
.pieLabel:hover{opacity: 1;}
.pieLabel > div {color: #fff!important;}
.add_node td > div{width:100%!important;}
.metricList button + div {overflow: hidden;text-overflow: ellipsis;}
.timeLists{float: right;margin-right: 255px;}
/*content - single*/
.zoomTime{position: fixed;z-index: 111;top: 0;right: 170px;color: #D7F4F6!important;font-size: 15px;line-height: 64px;min-width: 250px;cursor: pointer;}
.zoomTime .zoom{display: block;margin: 0 10px;width: 80px;text-align: center;}
.zoomTime .zoom:hover,.zoomTime .zoomInfo:hover,.zoomTime .zoomInfo.selected,.zoomTime .refreshInfo:hover,.zoomTime .refreshInfo.selected{line-height: 62px;font-weight: bold;border-bottom: 2px solid #fff;}
.zoomTime > div{float: left;}
.zoomTime .zoomInfo,.zoomTime .refreshInfo {width: inherit;padding-left: 20px;white-space: nowrap;min-width: 150px;}
.zoomTime ul {display:none;clear: both;background-color: #262626;padding: 10px 0;border-radius: 3px;}
.zoomTime li {padding-left:20px;line-height: 25px;}
.zoomTime li:hover,.zoomTime li.selected {background-color: #3C3C3C;}
/*login*/
.login_body{margin:0;font-family: serif;}
.login_div{width: 100%;height: 100%;background: url(../images/up2.png) no-repeat center;background-size: cover;}
.login_form{position: fixed;width: 450px;top: 50%;left: 30%;margin-top: -70px;margin-left: -225px;background-color: rgba(255,255,255,.5);color: #333;border-top: 3px solid #0089cc;border-bottom: 3px solid #0089cc;box-shadow: 4px 4px 10px #036fa5;}
.logo{height: 70px;text-align: center;line-height: 70px;font-size: 30px;font-family: cursive;}
.login_info {margin: 10px;}
.login_info input {width: 280px;display: block;padding: 6px 12px;margin: 0 auto;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);outline: none;}
.errorMessage {width: 100%;font-size: 14px;color: rgb(223, 40, 40);text-align: center;display: block;font-weight: 600;}
.submit{display: block;margin: 20px auto;width: 100px;text-align: center;padding: 10px;border: 1px solid #036FA5;background-color: #0089cc;color: #fff;border-radius: 2px;transition: all .3s ease-in-out;cursor: pointer;}
.submit:hover{background-color: #036FA5;}
.g-recaptcha > div { margin: 0 auto; }
/* jQuery autocomplete */
.ui-autocomplete-loading {background:url('../images/loading.gif') no-repeat right center;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
